
:root {
--basic-white: #ffffff;
--basic-grey: #eeeeee;
--basic-blue-quiet: #81B3D2;
--basic-blue-hover: #669ec0;
--basic-blue-focus: #5496bd;
--basic-brown-quiet: #766357;
--basic-brown-hover: #604e43;
--basic-brown-focus: #503e33;
--basic-grey-quiet: #f2f2f2;
--basic-grey-hover: #ebebeb;
--basic-grey-focus: #e5e5e5;
--basic-grey-icon: #a9a9a9;
--basic-grey-html: #bdbbbc;
--basic-grey-triangle: #cacaca;
--basic-grey-blocked: #6a6a6a;
--basic-grey-text: #333333;
--basic-grey-fone: #eeeeee;
--basic-grey-footer: #888888;
--basic-black: #000000;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.body-wrapper {
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    margin: 0 auto;
}
/*Шапка*/
/*Навигация*/

.navigation {
    width: 1200px;
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.site-navigation {
    display:flex;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-right: 72px;
    list-style: none;
}

.logo{
    width: 138px;
    height: 70px;
    position: absolute;
    left: 531px;
    top:-15px;
    z-index: 2; 
}


.site-navigation li:nth-child(2) {
    margin-left: 134px;
    margin-right: 417px;
}

.site-navigation li:nth-child(3) {
    margin-right: 147px;
}

.site-navigation a {
    color: var(--basic-black);
}

.focus-page a {
    color: var(--basic-brown-quiet);
}


.site-navigation a:hover {
    color: var(--basic-blue-quiet);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 30%;
}

.site-navigation a:focus {
    color: var(--basic-brown-quiet);
}

.promo-foto {
    background-image: url("../img/background-photo.jpg");
    width: 1200px;
    height: 509px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.promo-foto::after {
    content: "";
    position: absolute;
    background-image: url(../img/frame.svg);
    background-repeat: repeat;
    background-position: 0 0;
    width: 1200px;
    height: 57px;
    top: 452px;
    left:0;
    
}

.big-logo {
    margin-top: 75px;
    margin-left: 360px;
    margin-bottom: 90px;
   z-index: 2;
}

/*Причины*/
.wrapper {
    width: 1200px;
    padding-top: 43px;
    padding-bottom: 51px;
}
.title,
.slogan {
    text-align: center;
}

.title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 17px;
}

.slogan {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: var(--basic-grey-text);
}
.reasons-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding:0;
}
.first-reason-item {
   
   display: grid;
   width: 1200px;
   grid-template-columns: 400px 800px; 
   grid-template-rows: auto auto auto;
   text-align: center;
}

.first-reason-item img {
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: -1;;
}


.recommendations-list {
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;

    min-height: 330px;
    margin:0;
    padding: 0;
}

.reasons h3 {
    font-size: 21px;
    line-height: 21px;
}

.text {
    font-size: 14px;
    line-height: 21px;
}
.blue-fone {
    color: var(--basic-white);
    background-color: var(--basic-blue-quiet);
}
.second-reason-item {
    display: grid;
    width: 1200px;
    grid-template-columns: 800px 400px; 
    grid-template-rows: auto auto auto;
    text-align: center;
}

.second-reason-item img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
}

.grey-wrapper {
    width: 1200px;
}


.grey-wrapper .reasons-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
    text-align: center;
    min-height: 256px;
    margin:0;
    padding:0;
}

.grey-wrapper {
    background-color: var(--basic-grey-fone);
}

.grey-wrapper .text {
    color: var(--basic-grey-text);
}

.travel-dates {
    width: 1200px;
    height: 234px;
    padding-top: 56px;
    margin:0;
    text-align: center;
    position: relative;
}

.title-question {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.travel-dates .text {
    display: block;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-grey-text);
}

.map {
    margin: 0;
    padding: 0;
}

/* кнопки , чекбоксы */
.button {
   font: inherit; 
   text-align: center;
   font-weight: 700;
   text-transform: uppercase;
   vertical-align: middle;
   border: none;
}

.button-brown {
    color: var(--basic-white);
    background-color: var(--basic-brown-quiet);   
}
.date-form .button-brown {
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    height: 86px;
}

.catalog .button-brown {
    font-size: 14px;
    line-height: 21px;
}

.button-blue {
    color: var(--basic-white);
    background-color: var(--basic-blue-quiet);
}

.date-form .button-blue {
    font-size: 21px;
    line-height: 26px;
    width: 458px;
    height: 58px;   
}

.catalog .e {
    font-size: 14px;
    line-height: 21px;
}

.date-form label,
.date-form input {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
}

.date-form input {
    background-color: var(--basic-grey-quiet);  
    border:0;
}

.arrival,
.depature {
    width: 346px;
    height: 38px;
    padding-left: 12px;
}

.adults,
.children {
    width: 114px;
    height: 38px;
    text-align: center;
}

.date-form input:hover {
    background-color: var(--basic-grey-hover);
}

.date-form input:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-grey-focus);
}

.button-blue:hover {
    background-color: var(--basic-blue-hover);
}

.button-blue:active,
.button-blue:focus {
    background: var(--basic-blue-focus);
    color: rgba(255, 255, 255, 0.3)
}

.button-brown:hover {
    background-color: var(--basic-brown-hover); 
}

.button-brown:active,
.button-brown:focus {
    background-color: var(--basic-brown-focus);
    color: rgba(255, 255, 255, 0.3);
}

.check-form input {
    background-color: var(--basic-blue-quiet);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/* футер*/
.footer{
    width: 1200px;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--basic-black);
    background-color:  rgba(255, 255, 255, 0.9);
}
.main-footer {
    position: absolute;
    top: 2642px;
}
.contacts{
    text-align: center;
    margin: auto;
}

.networks {
    margin: auto;
}
.networks-list {
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    margin: auto;
}

.networks-list li:nth-child(2) {
    margin-left:8px;
    margin-right: 8px;
}

.developers {
    display: flex;
    margin: auto;
}

.developers p {
    margin-right: 8px;
}

.developers a:hover path {
    fill: var(--basic-blue-quiet);
}

.developers a:active path {
    fill: var(--basic-grey-html);
}

/* Кнопки*/

.social-button {
    display: block;
    width: 46px;
    height:48px;
    background-color: var(--basic-blue-quiet);
}

.social-button svg {
    margin-top: 16px;
    margin-left: 15px;
}
.social-button:hover {
    background-color: var(--basic-blue-hover);
}

.social-button:focus,
.social-button:active {
    background-color: var(--basic-blue-focus);
}
.social-button:focus path,
.social-button:focus path {
    opacity: 0.3;
}
.footer a {
    color: var(--basic-black);
}

.contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.website {
    font-size: 14px;
    line-height: 26px;
}

.visually-hidden {
    display: none;
}
.button-blue {
    width: 110px;
    height: 27px;
    margin-right: 6px;
}

.button-brown {
    width: 142px;
    height: 27px;
}



/*Форма заезда*/
.date-form .button-brown {
    width: 568px;
    height: 86px;
}
.date-form label {
    display: block;
}

.label-arrival,
.label-depature {
    width: 112px;
    height: 32px;
    padding-top: 6px;
}
.label-adults {
    width: 107px;
    height: 32px;
    padding-top: 6px;
    padding-left: 7px;
    text-align: start;
}

.label-children {
    width: 62px;
    height: 32px;
    padding-top: 6px;
    padding-left: 53px;
    text-align: center;
}

.arrival,
.depature {
   width: 340px;
    height: 38px;

}

.input-form .button-blue {
    width: 458px;
    height: 58px;
   margin-left: 55px;
   margin-bottom: 55px;
   margin-top: 25px;
    
}
.date-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 568px;
    margin-top: -8px;
}

.input-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    width: 568px;
    height: 395px;
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    padding: 0;
    animation-name: form-down;
    animation-duration: 1.5s ;
}
 

@keyframes form-down {
    0%  {height: 0px;}
    100% {height:395;}
}

.appointment-form-box {
    display: none;
}

.appointment-form-show {
    display: flex;
}

.input-form div {
    display: flex;
    flex-wrap: wrap;
}

.date-form p {
    display: flex;
    align-items: center;   
}

.date-form p:first-child {
    margin-left: 55px;
    margin-top: 55px;
    margin-bottom: 30px;
 
}

.date-form p:nth-child(2),
.date-form p:nth-child(3){
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top:0;
}

.date-form p:nth-child(4){
    margin-top:0;
    margin-left:0;
    margin-bottom:30px;
}

.input-form input::-webkit-input-placeholder {
    color: var(--basic-black);
}

.form-block {
    position: relative;
}

.calendar-1 {
    width:21px;
    height: 23px;
    position: absolute;
    left: 490px;
    top: 62px;
}

.calendar-2 {
    width:21px;
    height: 23px;
    position: absolute;
    left: 490px;
    top: 132px;
}

 .form-block p:hover  path {
    fill: var(--basic-black);
}

.form-block p:focus path {
    fill: var(--basic-blue-quiet);
}

.form-block p:nth-child(4){
    position: relative;
}

.form-block .minus-1 {
    position: absolute;
    width: 12px;
    height: 3px;
   top: 201px;
   left: 185px;
}

.form-block .minus-2 {
    position: absolute;
    width: 12px;
    height: 3px;
    top: 5px;
    left: 130px;
}

.form-block .union-1 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 205px;
    left: 255px;
}

.form-block .union-2 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 9px;
    left: 200px;
}

.form-block .minus-1:hover rect,
.form-block .union-1:hover  path {
    fill: var(--basic-black);
}

.form-block .minus-1:active rect,
.form-block .union-1:active  path {
    fill: var(--basic-blue-quiet);
}

.form-block .minus-2:hover rect,
.form-block .union-2:hover  path {
    fill: var(--basic-black);
}

.form-block .minus-2:active rect,
.form-block .union-2:active  path {
    fill: var(--basic-blue-quiet);
}

/* Форма в каталоге*/
.check-form legend {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    display: block;
    text-align: start; 
}

.infrastructure-form legend,
.housing-form legend {
    width: 137px;
    height: 21px;
}

.price legend{
    width: 318px;
    height: 21px;  
}

.check-form {
    background-image: url(../img/background2.jpg);
    width: 1056px;
    min-height: 158px;
    background-repeat: no-repeat;
    font: inherit;
    color: var(--basic-white);
    display: flex;
    flex-wrap: wrap; 
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 27px;
    padding-bottom: 32px;
}

.check-form fieldset {
    margin: 0;
    padding:0;
    border:0;
    display: grid; 

}

.check-form .infrastructure-form,
.check-form .housing-form {
    width: 137px;
    min-height: 21px;
}

.check-form .infrastructure-form {
    margin-right: 119px;
}

.check-form fieldset:nth-child(3) {
    width: 317px;
    margin-left: 345px;
}

.check {
    padding-top: 24px;
    padding-left: 35px;
    position: relative;
}

.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}


.check-box {
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    top: 22px;
    left: 0;
    z-index: 2;
}

.check-input:checked + .check-box{
    background-image: url(../img/checkbox-on.svg);
    width: 27px;
}

.check-input:disabled + .check-box{
    background-image: url(../img/checkbox-off-disabled.svg);
    width: 23px;
}

.check-input:checked:disabled + .check-box{
    background-image: url(../img/checkbox-on-disabled.svg);
    width: 27px;
}

/* Цена*/
.price-filter {
    width: 317px;
    margin-top: 11px; 
}

.price-controls {
    display: flex;
    position: relative;
}

.price-controls::before {
    position: absolute;
    content: "";
    background-image: url(../img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 2px;
    height: 22px;
    top: 7px;
    left: 156px;
}

.price-controls .price-min,
.price-controls .price-max {
    width: 158px;
    height: 36px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.price input::-webkit-input-placeholder{
    color: var(--basic-white);
}

.price-controls .price-min {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 60px;
}

.price-controls .price-max {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 50px;
}


.range-controls {
    margin-top: 20px;
}

.range-controls .scale {
    height: 2px;
    background: rgb(250, 248, 248, 0.3);
   
}

.range-controls .bar {
    width: 78%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls {
    position: relative;
    margin-bottom: 33px;
}

.range-controls .toggle {
    position: absolute;
    top: -11px;
    width: 4px;
    height: 4px;
    padding:0;
    border: 8px solid var(--basic-white);
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
}

.range-controls .toggle-max {
    left: 248px;
}

.range-controls .toggle:hover {
    border: 10px solid var(--basic-white);
}

.button-transparent {
    width: 137px;
    height: 36px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    color: var(--basic-white);
    margin: auto;
}

.button-transparent:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

/* результаты поиска*/
.results {
    background-color: var(--basic-white);
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    height: 86px; 
}

.found {
    margin-left: 73px;
    margin-right: 46px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black) ;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-black);
    margin-right: 40px;
}

.triangles {
    margin-left: 471px;
} 

.up {
    margin-right: 12px;
} 

.up:hover path,
.down:hover path {
    fill: var(--basic-black);
}

.up:focus path,
.up:active path,
.down:focus path,
.down:active path {
    fill: var(--basic-blue-quiet);
}

.sorting-type {
    list-style: none;
    padding: 0;
    margin:0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    display: flex;  
}

.sorting-type a {
    margin-right: 32px;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--basic-blue-quiet);
}

.sorting-type a:hover {
    color: var(--basic-blue-quiet);
    opacity: 1;
    border-bottom: 1px dashed var(--basic-blue-quiet);
}

.sorting-type a:focus {
    color: var(--basic-black);
    opacity: 1;
}

.sorting-type a:active {
    color: var(--basic-blue-quiet);
    opacity: 1;
}


/* каталог */
.catalog li {
    width: 1200px;
    border: 2px solid var(--basic-grey-focus);
    border-left: none;
    border-right: none;
}

.catalog li:nth-child(2){
    border-top: none;
    border-bottom: none;
}

.catalog h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 240px;
    height: 26px;
    margin:0;   
}

.catalog a {
    color:var(--basic-black);
}

.catalog a:hover {
    color:var(--basic-blue-quiet);
}

.catalog a:active {
    color:var(--basic-black);
    opacity:0.3;
}

.catalog p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-grey-text);  
}
.hotels-catalog {
    list-style: none;
    padding: 0;
    margin:0;
    min-height: 150px;    
}

.hotels-catalog li {
    width: 1200px;
    display: flex;
    align-items: center;
}

.hotels-catalog img {
    margin-left: 73px;
    margin-right: 29px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 135px;
    height: 90px;
}

.hotels-catalog div:nth-child(2) {
    width: 268px;
    height: 97px;
    display: flex;
    flex-wrap: wrap;
}

.description .text {
    display: block;
}

.description p:nth-child(2) {
    width: 110px;
    margin:0;
    margin-right: 6px;
    margin-bottom: 16px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.description p:nth-child(3) {
    width: 142px;
    height: 21px;
    margin:0;
    margin-top: 7px;
    margin-bottom: 15px;
}
 
.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 95px;
    margin-left: 522px;
}

.rating p{
    text-align: center;
    display: block;
    width: 110px;
    height: 27px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: var(--basic-grey-quiet);
    margin: 0;
    margin-top: 47px; 
}




