
:root {
--basic-white: #ffffff;
--basic-grey: #eeeeee;
--basic-blue-quiet: #81B3D2;
--basic-blue-hover: #669ec0;
--basic-blue-focus: #5496bd;
--basic-brown-quiet: #766357;
--basic-brown-hover: #604e43;
--basic-brown-focus: #503e33;
--basic-grey-quiet: #f2f2f2;
--basic-grey-hover: #ebebeb;
--basic-grey-focus: #e5e5e5;
--basic-grey-icon: #a9a9a9;
--basic-grey-html: #bdbbbc;
--basic-grey-triangle: #cacaca;
--basic-grey-blocked: #6a6a6a;
--basic-grey-text: #333333;
--basic-grey-fone: #eeeeee;
--basic-black: #000000;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/*Шапка*/

.header {
    margin-bottom: 70px;

    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 73px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-weight: 700;
}

.logo{
    width: 138px;
    height: 70px;
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
}

.main-navigation {
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
    width: 100%;
    margin-bottom: 60px;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
   margin: 0;
   padding: 0;
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--basic-blue-quiet);
}

.site-navigation a:focus {
    color: var(--basic-black);
    opacity: 30%;
}

.promo-foto {
    background-image: url("../img/background-photo.jpg");
    width: 1200px;
    height: 509px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.big-logo {
    margin-top: 75px;
    margin-left: 360px;
    margin-bottom: 90px;
   
}

/*Причины*/

.title,
.reasons {
    text-align: center;
}

.title {
    font-size: 21px;
    line-height: 26px;
}

.slogan {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-grey-text);
}

.reason-item {
  
    display: flex;
   justify-content: space-between;
   width: 1200px;
   
}

.picture {
    order: -1;
}


.recommendations-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    list-style:none;
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
    width: 1200px;
    column-gap: 124px;
   
    
}

.recommendation-item {
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
   
}

.reasons h3 {
    font-size: 21px;
    line-height: 21px;
}

.text {
    font-size: 14px;
    line-height: 21px;
}
.blue-fone {
    color: var(--basic-white);
    background-color: var(--basic-blue-quiet);
    
}

.grey-wrapper {
    width: 1200px;
}
.grey-wrapper .reasons-list {
    display: flex;
    list-style:none;
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
    width: 1200px;
    margin: 0;
    padding: 0;
    
}

.grey-wrapper .reason-item {
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px; 
}
.grey-wrapper {
    background-color: var(--basic-grey-fone);
}

.grey-wrapper .text {
    color: var(--basic-grey-text);
}

.travel-dates {
    text-align: center;
}
.title-question {
    font-size: 30px;
    line-height: 24px;
}

.travel-question .text {
    color: var(--basic-grey-text);
}

/* кнопки , чекбоксы */
.button {
   font: inherit; 
   text-align: center;
   font-weight: 700;
   text-transform: uppercase;
   vertical-align: middle;
   border: none;
}

.button-brown {
    color: var(--basic-white);
    background-color: var(--basic-brown-quiet);   
}
.date-form .button-brown {
    font-size: 21px;
    line-height: 26px;
}

.catalog .button-brown {
    font-size: 14px;
    line-height: 21px;
}
.button-blue {
    color: var(--basic-white);
    background-color: var(--basic-blue-quiet);
}

.date-form .button-blue {
    font-size: 21px;
    line-height: 26px;   
}

.catalog .button-blue {
    font-size: 14px;
    line-height: 21px;
}

.date-form label,
.date-form input {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
}

.date-form input {
    background-color: var(--basic-grey-quiet);   
}

.date-form input:hover {
    background-color: var(--basic-grey-hover);
}

.date-form input:focus {
    background-color: var(--basic-grey-focus);
}

.button-blue:hover {
    background-color: var(--basic-blue-hover);
}

.button-blue:focus {
    background-color: var(--basic-blue-focus);
}

.button-brown:hover {
    background-color: var(--basic-brown-hover); 
}

.button-blue:focus {
    background-color: var(--basic-blue-focus);
}

.check-form input {
    background-color: var(--basic-blue-quiet);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/* футер*/
.footer {
    color: var(--basic-black);
    background-color: var(--basic-white);
    width: 1200px;
    display: flex;
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
    justify-content: space-around;
}

.contacts{
    outline: 5px solid rgba(0, 0, 255, 0.3);
    outline-offset: -5px;
}

 .networks {
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
 }

.developers {
    outline: 5px solid rgba(0, 0, 100, 0.3);
    outline-offset: -5px;
}
.networks-list {
    list-style: none;
    margin: 6px;
    text-align: center;
}


.social-button {
    width: 46px;
    height:48px;
    background-color: var(--basic-blue-quiet);
}
.social-button:hover {
    background-color: var(--basic-blue-hover);
}

.social-button:focus {
    background-color: var(--basic-blue-focus);
}

.footer a {
    color: var(--basic-black);
}

.contacts p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.website {
    font-size: 14px;
    line-height: 26px;
}
.visually-hidden {
    display: none;
}

/* результаты поиска*/
.results {
    background-color: var(--basic-white);
}
.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black) ;
}

.sorting {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--basic-black);
}
/* Форма*/

.check-form {
    display: flex;
    justify-content: start;

}
.price {
   justify-self: flex-end;
}

.results {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--basic-grey-focus);
    
}

.hotels-catalog {
    list-style: none;
   display: grid;
}
.catalog li {
    width: 1200px;
    border: 2px solid var(--basic-grey-focus);
   
  
}
.sorting-type {
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    list-style: none;
}

.check-form {
    background-image: url(../img/background2.jpg);
    width: 1200px;
    height: 217px;
    background-repeat: no-repeat;
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-white);
}
.check-form input {
    width: 27px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
}

/* каталог */
.catalog h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.catalog p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-grey-text);  
}